@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
  text-align: center;
  background-color: whitesmoke;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),
    url(header.jpg);
  -webkit-background-size: cover;
  width: 100%;
  height: auto;
  display: inline-block;
  position: relative;
}

body {
  margin: 0px;
}

#headerContent {
  margin-top: 70px;
  position: relative;
}

h1,
h2 {
  margin: auto;
  text-align: center;
  color: whitesmoke;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 3px;
}

h1 {
  font-size: 50px;
}

h2 {
  margin-top: -4px;
  text-transform: none;
  font-style: italic;
  margin-bottom: 12px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

#skills {
  margin: auto;
  width: 100%;
  height: auto;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

#headshot {
  width: 15%;
  height: auto;
  border-radius: 50%;
  border: 4.5px solid whitesmoke;
  margin-bottom: 40px;
}

#downloadResume {
  margin: auto;
  width: 100%;
  height: 200px;
  position: relative;
}

#resumeLogo {
  height: 20%;
  margin-top: 14px;
}

hr {
  border: 2px solid black;
  width: 60%;
  margin-bottom: 40px;
  margin-top: 20px;
}

.fa-linkedin,
.fa-envelope,
.fa-github {
  color: whitesmoke;
  margin: auto;
  margin-bottom: 55px;
  font-size: 28px;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}

.fa-linkedin:hover,
.fa-envelope:hover,
.fa-github:hover {
  color: #a5af94;
  margin-top: -10px;
  transition: ease;
}

.projectSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 825px;
  height: auto;
  margin: auto;
  margin-bottom: 40px;
}

h3 {
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 3px;
  display: inline-block;
  margin-top: 50px;
  text-align: center;
}

.gridBox {
  height: 252px;
  width: 245px;
  border: 3px solid white;
  background-color: black;
  margin: 10px;
}

img,
video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

#downloadIcon {
  width: 10%;
}

.fa-file-download {
  color: #a5af94;
  font-size: 120px;
  margin-bottom: 70px;
}

.fa-file-download:hover {
  color: black;
}

#footer {
  height: 110px;
  background-color: #a5af94;
  position: relative;
}

p {
  color: whitesmoke;
  font-style: italic;
}

@media only screen and (max-width: 1000px) {
  .projectSection {
    display: inline-block;
    width: auto;
  }

  h1 {
    font-size: 30px;
  }
}
